.traffic-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stick{
    background-color: black;
    width: 20px;
    height: 100px;
}
.box{
    background-color: black;
    width: 200px;
    height: 500px;
    border-radius: 20px;
    
}
.Red{
    background-color: red;
    border-radius: 100px;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    margin-top: 30px;
}
.Yellow{
    background-color: yellow;
    border-radius: 100px;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    margin-top: 25px;
}
.Green{
    background-color: green;
    border-radius: 100px;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    margin-top: 25px;
}

.Red.glow {
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.7);
}
.Yellow.glow {
    box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.7);
}
.Green.glow {
    box-shadow: 0 0 20px 10px rgba(0, 255, 0, 0.7);
}